@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
button {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #000000;
}

ul li {
  list-style-type: none;
}

button {
  border: none;
}

.section__content {
  max-width: 800px;
  margin: 0 auto;
  padding: 64px 16px;
}

.section__heading, .section__heading--white {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
  margin: 10px 0;
}

.section__heading-sub, .section__heading-sub--white {
  text-align: center;
  font-size: 15px;
  font-style: italic;
  opacity: 0.6;
  margin: 15px 0;
}

.section__heading--white {
  color: #ffffff;
}

.section__heading-sub--white {
  color: #ffffff;
}

.modal, .modal__header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col, .col-third, .col-half {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-third {
  width: 33.33333%;
}

.col-half {
  width: 50%;
}

.text-center {
  text-align: center !important;
}

@-webkit-keyframes modalFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-75vh);
            transform: translateY(-75vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-75vh);
            transform: translateY(-75vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.tour__card {
  margin: 0 8px;
  background-color: #ffffff;
}

.tour__card .card-img {
  background-color: #000000;
}

.tour__card .card-img img {
  width: 100%;
  display: block;
}

.tour__card .card-img img:hover {
  opacity: 0.6;
}

.tour__card .card-body {
  padding: 0 16px 16px;
}

.tour__card .card-title {
  font-size: 15px;
  margin: 15px 0;
  font-weight: bolder;
}

.tour__card .card-date {
  margin: 15px 0;
  opacity: 0.6;
}

.tour__card .card-text {
  margin: 15px 0;
}

.tour__card .card-buy-btn {
  padding: 8px 16px;
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
}

.tour__card .card-buy-btn:hover {
  background-color: #cccccc;
  color: #000000;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__container {
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 200px;
  background-color: #ffffff;
  position: relative;
  -webkit-animation: modalFadeIn ease 0.3s;
          animation: modalFadeIn ease 0.3s;
}

.modal__close {
  /*scss_Placeholder */
  position: absolute;
  right: 0;
  top: 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 24px;
  padding: 8px 16px;
}

.modal__close:hover {
  color: #000000;
  background-color: #ffffff;
}

.modal__header {
  background-color: #009688;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 130px;
  font-size: 32px;
}

.modal__header i {
  margin-right: 16px;
}

.modal__body {
  padding: 0 16px;
}

.modal__label {
  display: block;
  margin: 15px 0;
}

.modal__input {
  display: block;
  padding: 8px;
  width: 100%;
  border: 1px solid #cccccc;
}

.modal__footer {
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#modal__btn-pay {
  display: block;
  color: #ffffff;
  background-color: #009688;
  width: 100%;
  padding: 16px;
  border: none;
  margin: 16px 0;
}

#modal__btn-pay:hover {
  color: #000000;
  background-color: #cccccc;
}

.modal__btn-close {
  color: #ffffff;
  background-color: #f44336;
  border: none;
  padding: 8px 16px;
  margin: 16px 0;
}

.modal__btn-close:hover {
  color: #000000;
  background-color: #cccccc;
}

.modal__help {
  display: inline-block;
  margin: 15px 0 15px auto;
}

.modal__help a {
  color: #2196f3;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000000;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

#nav {
  display: inline-block;
}

#nav li {
  display: inline-block;
  position: relative;
}

#nav li a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 12px 24px;
}

#nav li:hover a {
  background-color: #cccccc;
  color: #000000;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

#nav .subnav li {
  display: block;
}

#nav .subnav li a {
  width: 100%;
  padding: 8px 16px;
  text-transform: capitalize;
  background-color: #ffffff;
}

#nav .subnav li:hover a {
  background-color: #cccccc;
}

.header__search {
  display: inline-block;
  padding: 12px 24px;
  margin-left: auto;
  color: #ffffff;
  cursor: pointer;
}

.header__search:hover {
  background-color: #f44336;
}

#slider {
  margin-top: 46.4px;
}

#slider {
  position: relative;
  padding-top: 50%;
  background: url("/img/chicago.jpg") top center/cover no-repeat;
}

.slider__content {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  padding: 32px 16px;
}

.slider__content h2 {
  font-weight: 500;
  font-size: 24px;
  margin: 10px 0;
}

.slider__content p {
  font-weight: 700;
  margin: 15px 0;
}

.about__content {
  text-align: justify;
  margin: 10px 0;
}

.about__member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 0;
  text-align: center;
}

.about__member-name {
  margin: 15px 0;
}

.about__member-img {
  width: 60%;
  border-radius: 4px;
  margin-bottom: 16px;
}

.tour {
  background-color: #000000;
}

.tour__tickets {
  margin-top: 40px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.tour__tickets li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 16px;
  color: #757575;
}

.tour__tickets li:not(:last-child) {
  border-bottom: 1px solid #dddddd;
}

.tour__tickets .sold-out {
  display: inline-block;
  margin-left: 16px;
  padding: 0 8px;
  background-color: #f44336;
  color: #ffffff;
}

.tour__tickets .quantity {
  display: inline-block;
  padding: 0 8px;
  border-radius: 50%;
  margin: 0 16px 0 auto;
  background-color: #000000;
  color: #ffffff;
}

.tour__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px -8px 48px;
}

/* 
1. Từ div cha ngoài vào div cha con bên trong - ngoài -> trong
2. Từ trên xuống dưới Section trên làm trước,-> section bên dưới
3. Từ tổng quan tới chi tiết
*/
/* 
1. Vị trí 
2. Kích thước 
    -> width, height
3. Màu sắc
4. Kiểu dáng 
    -> Chữ , hình dạng tròn vuông

*/
/* 
3. Màu sắc - bgc / clo
2. Kích thước - content - border 
1. Vị trí 
    -> width, height, z-index, abs / rel

4. Kiểu dáng (khá chung chung -> the rest)
    -> Chữ style, hình dạng tròn vuông radius, box-shadow

5. tương tác
    animation / hover / focus / transition
*/
/*# sourceMappingURL=styleScss.css.map */