.section__content {
  // Set max-width sẽ tự responsive thành container-fluid khi màn nhỏ
  max-width: 800px;
  margin: 0 auto;
  padding: $pd-6 $pd-3;
}

.section__heading {
  text-align: center;
  font-size: $fs-3;
  font-weight: $fw-1;
  letter-spacing: $ls-1;
  margin: $mg-1 0;
}

.section__heading-sub {
  text-align: center;
  font-size: $fs-1;
  font-style: italic;
  opacity: 0.6;
  margin: $mg-2 0;
}

// Hướng solve tên class dài theo BEM
.section__heading--white {
  @extend .section__heading;
  color: $color-white-1;
}

.section__heading-sub--white {
    @extend .section__heading-sub;
    color: $color-white-1;
}

// Có thể solve theo cách khác đặt class text-white và format riêng
// Lợi code nhưng sẽ dễ gây hiểu nhầm tên class
