// Reset CSS

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
button,
input {
  font-family: "Lato", sans-serif;
  font-size: $fs-1;
  line-height: $lh-0;
  color: $color-black-1;
}

ul li {
  list-style-type: none;
}

// Chuyển thẻ a thành button bị mất css
// Thẻ a click vào bị nhảy link lên đầu trang dù để #
// Fix qua button
