// Color
$color-black-1: #000000;
$color-white-1: #ffffff;
$color-red-1: #f44336;
$color-grey-1: #cccccc;

// Font-size
$fs-1: 15px;
// Font-weight

// Line-height
$lh-1: 46px;
$lh-2: 32px;

// Letter-spacing
$ls-1: 4px;
// Margin

// Padding
// Chia hết cho 4 - grid system
$pd-1: 12px;
$pd-2: 24px;
$pd-3: 16px;
