.tour__card {
  margin: 0 $pd-4;
  background-color: $color-white-1;

  .card-img {
    background-color: $color-black-1;
    // Có thể fix bằng cách tạo overlay hidden
    // Nhưng ở đây thử cách khác
    img {
      width: 100%;
      // Chuyển về block để ko sinh thêm khoảng trắng thừa với body
      display: block;

      &:hover {
        // TODO check fix background color cho img hover
        opacity: 0.6;
      }
    }
  }

  .card-body {
    padding: 0 $pd-3 $pd-3;
  }

  .card-title {
    font-size: $fs-1;
    margin: $mg-2 0;
    font-weight: bolder;
  }

  .card-date {
    margin: $mg-2 0;
    opacity: 0.6;
  }

  .card-text {
    margin: $mg-2 0;
  }
}

// https://stackoverflow.com/questions/27829250/child-margin-doesnt-affect-parent-height
